Repository open-sauced/pizza-cli, changes with the owners that CODEOWNERS names for each.
All owners: @jpmcb, @zeucapua, @nickytonline, @brandonroberts

CODEOWNERS:

# This file is generated automatically by OpenSauced pizza-cli. DO NOT EDIT. Stay saucy!
#
# Generated with command:
# $ pizza generate codeowners pizza-cli/ --tty-disable true

.env @jpmcb @zeucapua
.github/ISSUE_TEMPLATE/bug_report.yaml @jpmcb
.github/ISSUE_TEMPLATE/config.yaml @jpmcb
.github/ISSUE_TEMPLATE/feature_request.yaml @jpmcb
.github/workflows/auto-add-to-project.yml @jpmcb
.github/workflows/pizza.yml @jpmcb @nickytonline @zeucapua
.github/workflows/release.yaml @jpmcb @nickytonline @zeucapua
.github/workflows/test.yaml @jpmcb @zeucapua
.golangci.yaml @jpmcb @zeucapua
.sauced.yaml @jpmcb @nickytonline @zeucapua
CHANGELOG.md @jpmcb @zeucapua @nickytonline
CODEOWNERS @jpmcb @nickytonline
Dockerfile @jpmcb @nickytonline @zeucapua
Makefile @jpmcb
README.md @jpmcb
api/auth/auth.go @jpmcb @zeucapua
api/auth/success.html @nickytonline @jpmcb
api/client.go @jpmcb @zeucapua
api/mock/mock.go @jpmcb
api/services/contributors/contributors.go @jpmcb @zeucapua
api/services/contributors/contributors_test.go @jpmcb @zeucapua
api/services/contributors/spec.go @jpmcb
api/services/histogram/histogram.go @jpmcb @zeucapua
api/services/histogram/histogram_test.go @jpmcb @zeucapua
api/services/histogram/spec.go @jpmcb
api/services/repository/repository.go @jpmcb @zeucapua
api/services/repository/repository_test.go @jpmcb @zeucapua
api/services/repository/spec.go @jpmcb
api/services/spec.go @jpmcb
api/services/workspaces/spec.go @jpmcb @zeucapua
api/services/workspaces/userlists/spec.go @jpmcb @zeucapua
api/services/workspaces/userlists/userlists.go @jpmcb @zeucapua
api/services/workspaces/userlists/userlists_test.go @jpmcb @zeucapua
api/services/workspaces/workspaces.go @jpmcb @zeucapua
api/services/workspaces/workspaces_test.go @jpmcb @zeucapua
api/utils/validators.go @jpmcb
cmd/auth/auth.go @jpmcb @zeucapua
cmd/auth/constants.go @jpmcb
cmd/auth/schema.go @jpmcb
cmd/auth/success.html @jpmcb
cmd/auth/success.html @jpmcb
cmd/bake/bake.go @jpmcb
cmd/bake/bake_test.go @jpmcb
cmd/docs/docs.go @jpmcb @zeucapua @nickytonline
cmd/docs/docs_test.go @nickytonline @jpmcb @zeucapua
cmd/generate/codeowners/codeowners.go @jpmcb @zeucapua
cmd/generate/codeowners/output.go @jpmcb @zeucapua @brandonroberts
cmd/generate/codeowners/output_test.go @jpmcb @brandonroberts @zeucapua
cmd/generate/codeowners/spec.go @jpmcb
cmd/generate/codeowners/traversal.go @jpmcb
cmd/generate/config/config.go @zeucapua @jpmcb @zeucapua
cmd/generate/config/output.go @jpmcb @zeucapua @zeucapua
cmd/generate/config/spec.go @zeucapua @jpmcb @zeucapua
cmd/generate/generate.go @jpmcb @zeucapua
cmd/generate/insight/insight.go @jpmcb
cmd/insights/contributors.go @jpmcb @zeucapua
cmd/insights/insights.go @jpmcb @brandonroberts
cmd/insights/repositories.go @jpmcb @zeucapua
cmd/insights/user-contributions.go @jpmcb @zeucapua
cmd/insights/utils.go @jpmcb
cmd/offboard/offboard.go @jpmcb @zeucapua @zeucapua
cmd/offboard/output.go @jpmcb @zeucapua @zeucapua
cmd/repo-query/repo-query.go @jpmcb
cmd/root/root.go @jpmcb @brandonroberts @zeucapua
cmd/show/constants.go @jpmcb
cmd/show/contributors.go @jpmcb
cmd/show/dashboard.go @jpmcb
cmd/show/show.go @jpmcb
cmd/show/tui.go @jpmcb
cmd/version/version.go @jpmcb @nickytonline
docs/pizza.md @jpmcb @zeucapua @nickytonline
docs/pizza_completion.md @jpmcb @nickytonline @zeucapua
docs/pizza_completion_bash.md @jpmcb @nickytonline @zeucapua
docs/pizza_completion_fish.md @jpmcb @zeucapua @nickytonline
docs/pizza_completion_powershell.md @jpmcb @nickytonline @zeucapua
docs/pizza_completion_zsh.md @jpmcb @nickytonline @zeucapua
docs/pizza_generate.md @jpmcb @nickytonline @zeucapua
docs/pizza_generate_codeowners.md @jpmcb @nickytonline
docs/pizza_generate_config.md @jpmcb
docs/pizza_generate_insight.md @jpmcb
docs/pizza_insights.md @jpmcb @zeucapua @nickytonline
docs/pizza_insights_contributors.md @jpmcb @nickytonline @zeucapua
docs/pizza_insights_repositories.md @jpmcb @zeucapua @nickytonline
docs/pizza_insights_user-contributions.md @jpmcb @nickytonline @zeucapua
docs/pizza_login.md @jpmcb @nickytonline @zeucapua
docs/pizza_offboard.md @jpmcb
docs/pizza_version.md @jpmcb @nickytonline @zeucapua
go.mod @jpmcb @nickytonline @zeucapua
go.sum @jpmcb @zeucapua @nickytonline
justfile @jpmcb @zeucapua @nickytonline
main.go @jpmcb
npm/.gitignore @jpmcb @zeucapua
npm/README.md @jpmcb
npm/package-lock.json @jpmcb @nickytonline @zeucapua
npm/package.json @jpmcb @nickytonline @brandonroberts
pkg/api/client.go @jpmcb
pkg/api/validation.go @jpmcb
pkg/config/config.go @jpmcb @nickytonline @zeucapua
pkg/config/config_test.go @nickytonline @jpmcb @zeucapua
pkg/config/file.go @jpmcb
pkg/config/spec.go @jpmcb @brandonroberts @zeucapua
pkg/constants/flags.go @jpmcb
pkg/logging/constants.go @jpmcb
pkg/utils/posthog.go @jpmcb @zeucapua @zeucapua
pkg/utils/root.go @jpmcb @zeucapua
pkg/utils/telemetry.go @jpmcb
pkg/utils/version.go @nickytonline @jpmcb
scripts/generate-docs.sh @nickytonline @jpmcb
telemetry.go @jpmcb @zeucapua @zeucapua

Update .github/workflows/pizza.yml
  .github/workflows/pizza.yml
Owners: @jpmcb, @nickytonline, @zeucapua

chore: Update Pizza Action to Latest Version () (#220)
  .github/workflows/pizza.yml
Owners: @jpmcb, @nickytonline, @zeucapua

feat: add logic to handle output path flag for generating codeowners file
  cmd/generate/codeowners/codeowners.go
  cmd/generate/codeowners/output.go
  docs/pizza_generate_codeowners.md
Owners: @jpmcb, @zeucapua, @brandonroberts, @nickytonline

feat: `--output-path` flag for `pizza generate codeowners` (#223)
  cmd/generate/codeowners/codeowners.go
  cmd/generate/codeowners/output.go
  docs/pizza_generate_codeowners.md
Owners: @jpmcb, @zeucapua, @brandonroberts, @nickytonline

chore(minor): release 2.4.0-beta.1 on beta channel [skip ci]
  CHANGELOG.md
  npm/package-lock.json
  npm/package.json
Owners: @jpmcb, @zeucapua, @nickytonline, @brandonroberts

Notes added by 'git notes add'
  3014ac066f22146e23d751b51027011d9c65a919
Owners: none
